/* Write your global styles here, in PostCSS syntax */

@tailwind base;

main {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	height: 100vh;
	max-height: 100vh;
}

html,
body {
	@apply w-screen h-screen overflow-hidden;
}

body {
	margin: 0;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	background-color: khaki;
}

@tailwind components;

@tailwind utilities;
